:root{
    --bg: #00030b;
    --blur: #00000044;
}

body, 
*, 
a{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

a,
ul{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about,
.watch,
.interesting {
    height: 100vh;
    background-color: var(--bg);
    padding: 7em 0;
}

.container{
    max-width: 80vw;
    width: 100%;
    position: relative;
}

/* Header */

.header{
    position: relative;
}

.header__nav{
    background-color: var(--bg);
    padding: 1em 0;
    width: 100vw;
    position: fixed;
    z-index: 3;
}

.nav__list{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav__link{
    font-size: 1.5em;
    transition: 500ms ease;
}

.nav__link:hover{
    border-bottom: 1px solid #fff;
    transition: 500ms ease;
    color: #fff;
}

.nav__link--active{
    background-color: #ff000092;
}

.heading{
    max-width: 45%;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 100px;
    left: 25%;
    background-color: var(--blur);
    backdrop-filter: blur(3px);
}

.heading__title{
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    
}

.carousel{
    padding-top: 3.5em;

}

.carousel-img{
    max-height: 100vh;
    height: 100% none;
    object-fit: cover;
    box-shadow: inset 697px -83px 92px -78px rgba(0, 0, 0, 0.53);

}

/* About */


.about__description{
    max-width: 45%;
    cursor: pointer;
}

.description__img{
    width: 100%;
    height: auto;
}

.description__text{
    margin: 2em 0;
    
}

.description__tag{
    border: 1px solid rgba(255, 255, 255, 0.902);
    padding: 0 15px;
    border-radius: 20px;
    transition: 300ms ease;
}

.description__tag:hover,
.description__tag:active{
    background-color: #ff000092;
    color: #fff;
    transition: 200ms ease;
}

.info-link:hover,
.info-link:active{
    border-bottom: 1px solid #fff;
    color: #fff;
}
