body,
*,
a {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.about,
.watch,
.interesting {
  min-height: 100vh;
  background-color: #00030b;
  padding: 7em 0;
}

.container {
  width: 80vw;
  position: relative;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 0, 0, 0.5725490196) #00030b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #00030b;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.5725490196);
  border-radius: 0px;
  border: 1px solid #ffffff;
}

body,
*,
a {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.about,
.watch,
.interesting {
  min-height: 100vh;
  background-color: #00030b;
  padding: 7em 0;
}

.container {
  width: 80vw;
  position: relative;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 0, 0, 0.5725490196) #00030b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #00030b;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.5725490196);
  border-radius: 0px;
  border: 1px solid #ffffff;
}

.header {
  position: relative;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00030b;
  padding: 1em 3em;
  width: 100vw;
  position: fixed;
  z-index: 3;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.nav__link {
  font-size: 1.5em;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.nav__link:hover {
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.nav__link--active {
  border-bottom: 1px solid #fff;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.nav__link--watch {
  background-color: rgba(255, 0, 0, 0.5725490196);
}

.burger {
  display: none;
  cursor: pointer;
}
.burger .burger__bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.heading {
  max-width: 45%;
  text-align: center;
  position: absolute;
  z-index: 2;
  bottom: 100px;
  left: 25%;
  background-color: rgba(0, 3, 11, 0.5490196078);
  padding: 0px 1em;
}

.heading__title {
  font-family: "Oswald", sans-serif;
  font-size: 5em;
}

.carousel {
  padding-top: 3.5em;
}

.carousel-img {
  max-height: 100vh;
  height: 100% none;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1355px) {
  .heading__title {
    font-size: 4em;
  }
}
@media only screen and (max-width: 1105px) {
  body {
    font-size: 0.9em;
  }

  .heading__title {
    font-size: 2em;
  }

  .heading {
    bottom: 5%;
  }
}
@media only screen and (max-width: 767px) {
  #container {
    width: 95vw;
  }

  .heading {
    max-width: 70%;
    left: 15%;
  }

  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__nav .nav__list {
    position: fixed;
    left: -100%;
    top: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__nav .nav__list .nav__item {
    margin: 0.5em 0;
  }
  .header__nav .nav__list.active {
    left: unset;
  }
  .header__nav .burger {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .header__nav .burger.active .burger__bar:nth-child(2) {
    opacity: 0;
  }
  .header__nav .burger.active .burger__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .header__nav .burger.active .burger__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }

  .header__nav.active {
    max-height: 220px;
    height: 100%;
    background-color: #00030b;
    z-index: 5;
    position: fixed;
  }

  .burger.active .burger__bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .burger__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .burger.active .burger__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
@media only screen and (max-width: 480px) {
  #about,
#watch,
#interesting {
    padding: 2em 0;
  }

  .carousel {
    display: none;
  }

  .header__mobile {
    display: block;
    width: 100vw;
    height: 95vh;
    background: url("img/mobile-2.jpg") no-repeat center top;
    background-size: cover;
  }

  .heading {
    bottom: 20%;
  }
}
body,
*,
a {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.about,
.watch,
.interesting {
  min-height: 100vh;
  background-color: #00030b;
  padding: 7em 0;
}

.container {
  width: 80vw;
  position: relative;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 0, 0, 0.5725490196) #00030b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #00030b;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.5725490196);
  border-radius: 0px;
  border: 1px solid #ffffff;
}

.about__description {
  max-width: 45%;
  cursor: pointer;
}

.description__img {
  width: 100%;
  height: auto;
}

.description__text {
  margin: 2em 0;
}

.description__tag {
  border: 1px solid rgba(255, 255, 255, 0.902);
  padding: 0 15px;
  border-radius: 20px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  max-height: 27px;
}

.description__tag:hover,
.description__tag:active {
  background-color: rgba(255, 0, 0, 0.5725490196);
  color: #fff;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.info-link:hover,
.info-link:active {
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 1100px) {
  .description__tags {
    gap: 0.5em;
  }
  .description__tags .description__tag {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 480px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__description {
    max-width: 100%;
    margin-bottom: 5%;
  }

  .about__description:first-of-type {
    margin-bottom: 0;
  }

  .about__description--second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .description__text {
    margin: 5% 0;
  }
}
body,
*,
a {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.about,
.watch,
.interesting {
  min-height: 100vh;
  background-color: #00030b;
  padding: 7em 0;
}

.container {
  width: 80vw;
  position: relative;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 0, 0, 0.5725490196) #00030b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #00030b;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.5725490196);
  border-radius: 0px;
  border: 1px solid #ffffff;
}

.interesting__header {
  text-align: center;
  margin-bottom: 0.5em;
}

.interesting__cards {
  max-width: 800px;
  margin: 0 auto;
}
.interesting__cards .interesting__card {
  padding: 1em;
  width: 100%;
  border: 1px solid white;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.interesting__cards .interesting__card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  border: 1px solid red;
}
.interesting__cards .interesting__card:not(:last-of-type) {
  margin-bottom: 1em;
}
.interesting__cards .interesting__card .card__text {
  width: 97%;
}
.interesting__cards .interesting__card .card__link {
  width: 3%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.interesting__cards .interesting__card .link__svg:hover {
  cursor: pointer;
}

body,
*,
a {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.about,
.watch,
.interesting {
  min-height: 100vh;
  background-color: #00030b;
  padding: 7em 0;
}

.container {
  width: 80vw;
  position: relative;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 0, 0, 0.5725490196) #00030b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #00030b;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.5725490196);
  border-radius: 0px;
  border: 1px solid #ffffff;
}

.watch__iframe {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.watch__btn {
  width: 25%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 1.5em;
  border: 1px solid white;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.watch__btn:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  border: 1px solid red;
}
.watch__btn .btn__text {
  padding: 0 0.5em;
}

@media screen and (max-width: 767px) {
  .watch__iframe {
    max-width: 100%;
    height: auto;
  }

  .watch__btn {
    width: 60%;
  }
}
@media only screen and (max-width: 480px) {
  .watch__btn {
    width: 60%;
    margin-top: 40%;
  }
}