@import './base';
// About
.about__description {
    max-width: 45%;
    cursor: pointer;
}

.description__img {
    width: 100%;
    height: auto;
}

.description__text {
    margin: 2em 0;

}

.description__tag {
    border: 1px solid rgba(255, 255, 255, 0.902);
    padding: 0 15px;
    border-radius: 20px;
    transition: 300ms ease;
}

.description__tag:hover,
.description__tag:active {
    background-color: $accent-color;
    color: #fff;
    transition: 200ms ease;
}

.info-link:hover,
.info-link:active {
    border-bottom: 1px solid #fff;
}