@import './base';

// Header
.header {
    position: relative;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    padding: 1em 3em;
    width: 100vw;
    position: fixed;
    z-index: 3;
}

.nav__list {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav__link {
    font-size: 1.5em;
    transition: 500ms ease;
}

.nav__link:hover {
    transition: 500ms ease;
}

.nav__link--active {
    border-bottom: 1px solid #fff;
    transition: 500ms ease;
}

.nav__link--watch{
    background-color: $accent-color;
}

.burger{
    display: none;
    cursor: pointer;
    .burger__bar{
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}


.heading {
    max-width: 45%;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 100px;
    left: 25%;
    background-color: #00030b8c;
    padding: 0px 1em;
}

.heading__title {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;

}

.carousel {
    padding-top: 3.5em;

}

.carousel-img {
    max-height: 100vh;
    height: 100% none;
    object-fit: cover;
}

@media only screen and (max-width: 1355px){
    .heading__title{
        font-size: 4em;
    }
}
@media only screen and (max-width: 1105px){
    body{
        font-size: .8em;
    }
    .heading__title {
        font-size: 2em;
    }
    .heading{
        bottom: 5%;
    }
}
@media only screen and (max-width: 700px) {
    body {
        font-size: .6em;
    }
    
    .heading__title {
        font-size: 1.5em;
    }
    .heading{
        max-width: 80%;
        left: 10%;
    }
    

    .header__nav{
        flex-direction: column;
        justify-content: flex-start;
        .nav__list {
            position: fixed;
            left: -100%;
            top: 1em;
            align-items: center;
            gap: 0;
            flex-direction: column;
            transition: 0.3s ease;

            .nav__item{
                margin: .5em 0;
            }
        }
        .nav__list.active{
            left: unset;
        }

            .burger {
                display: block;
                align-self: flex-end;
            }
            .burger.active .burger__bar:nth-child(2) {
                opacity: 0;
                }
            
            .burger.active .burger__bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            
            .burger.active .burger__bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
    }       
    .header__nav.active {
        max-height: 150px;
        height: 100%;
        background-color: $bg;
        z-index: 5;
    }

    .burger.active .burger__bar:nth-child(2) {
        opacity: 0;
    }
    
    .burger.active .burger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .burger.active .burger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}

/* TODO: make header totally responsive
    add burger menu
    


*/