@import './base';

.interesting__header{
    text-align: center;
    margin-bottom: .5em;
}

.interesting__cards{
    max-width: 800px;
    margin: 0 auto;

    .interesting__card {
            padding: 1em;
            width: 100%;
            @include blockBorder;
            &:hover {
                @include blockBorderHover;
                    // transform: scale(1.04);
                    // transition: 500ms ease;
                    // border: 1px solid red;
                    
                }
            &:not(:last-of-type){
                margin-bottom: 1em;
            }
            .card__text {
                width: 97%;
            }
            .card__link{
                width: 3%;
                align-self: center;
            }
            .link__svg:hover{
                cursor: pointer;
            }
        }
}

